.App {
  text-align: center;
}

.App-logo {
  height: 45vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
}

.App-header {
  background-color: #272c34;
  min-height: 105vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #d10683;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h4{
  color: #04265c;
  height: 0%;
  margin-top: 30%;
}

.h3{
  color: #186ffc;
  height: 0%;
  margin-top: 30%;
}

.h3{
  color: #186ffc;
  height: 0%;
  margin-top: 30%;
}
.h1{
  color: #dafc18;
  height: 0%;
  margin-top: 30%;
}

.updatecard{
  box-shadow: 0 4px 8px 0 rgba(221, 6, 6, 0.2);
  transition: 0.3s;
  width: 40%;
}

.newCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

