.App {
  text-align: center;
}

.App-logo {
  height: 45vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
}

.App-header {
  background-color: #272c34;
  min-height: 105vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #69dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h4{
  color: #272c34;
  height: 0%;
  margin-top: 30%;
}

.newCard{
  box-shadow: 0 3px 9px 0 rgba(0,0,0,0.3);
  transition: 0.4s;
  width: 40%;
}

.newcss{
  margin-bottom: 30%;
  margin-top: 20%;
  color: #ffff;
}

.h5{
  color: #5a677d;
  height: 0%;
  margin-bottom: 30%;
}

.newlink{
  color:#625a7d;
}